# PostgreSQL
DATABASE_URL='postgres db url'

# Google OAuth
GOOGLE_CLIENT_ID='your GOOGLE_CLIENT_ID'
GOOGLE_CLIENT_SECRET='your GOOGLE_CLIENT_SECRET'
GOOGLE_CALLBACK_API='callback api in backend'
FRONTEND_URL='frontend url'

# Token
JWT_SECRET='jwt secret'
