# PostgreSQL
DATABASE_URL='postgres db url'

# Google OAuth
GOOGLE_CLIENT_ID='your GOOGLE_CLIENT_ID'
GOOGLE_CLIENT_SECRET='your GOOGLE_CLIENT_SECRET'
FRONTEND_URL='frontend url'
JWT_SECRET='jwt secret'
